@charset "ISO-8859-1";
body
{

    background-size: 100%;
}
h1
{
    color: rgb(3, 2, 0);
    font-style: bold;
    text-shadow:0 0 3px rgb(202, 7, 7)
}
form
{
    margin: auto;
}
#dropdown-item
{
text-align: justify;
}
#404
{
    margin: 0 auto;
    width: 50%;
}

.material-icons
{
    color: rgb(10, 1, 1);
}
#contenant
{
    margin-top: 35px;
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
}
#contenant2
{
position: left;
}
.card
{
    margin-top: 5%;
    width: 30rem;
    display: flex;
}

#navcolor
{
background-color: blue;
}
body {
    background-image: url("../HTML/Images/image-fond.JPG");
    background-repeat: no-repeat ; /pas de répition de l'image/
    background-attachment: fixed ;
    background-size: cover;

}